@model Kastra.Module.HtmlView.Models.SettingsModel

<script src="~/js/plugins/ckeditor/ckeditor.js"></script>
<script src="~/js/plugins/ckeditor/adapters/jquery.js"></script>

<div class="text-white m-sm-5 p-5 bg-dark clearfix">
    <h4 class="text-center">Edit HTML content</h4>
    <hr/>
    <h2 class="mb-5 text-center">HTML View module</h2>                
    <form method="post">
        <div class="form-group row">
            <textarea class="html-content form-control" name="Content">@Model.Content</textarea>
        </div>
        <button class="btn btn-outline-info mt-5 float-right" type="submit">Valid</button>
    </form>
</div>

<script type="text/javascript">
    (function($) {
        $('.html-content').ckeditor();
    })(jQuery);
</script>